NODE_ENV=development
PORT=3000
MONGODB_USERNAME=leduckhangcla8_db_user
MONGODB_PASSWORD=38OFXjvN1vkglWwr
MONGODB_URI=mongodb+srv://leduckhangcla8_db_user:38OFXjvN1vkglWwr@cluster0.k0oieei.mongodb.net/kld-commerce-kit?retryWrites=true&w=majority&appName=Cluster0
